doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pet Sitter
    link(rel='stylesheet', href='./css/buttons.css')
    link(rel='stylesheet', href='./css/app.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

  body
    header
      h1 Pet Sitter

    #controls
      select#gender
        option Male
        option Female
      select#species
        option(value='dog.jpg') Dog
        option(value='cat.jpg') Cat
        option(value='sloth.jpg') Sloth
        option(value='dragon.jpg') Dragon
      input#name(type='text', placeholder='Name')
      input#age(type='text', placeholder='Age')
      button#add Add Pet

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/pet.js')
    script(src='./js/vendor/buttons.js')
    script(src='./js/es6/main.js')
